.uk-upload-list{
    width: 100%;
}
.uk-upload-clearfix::after{
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.uk-upload-item{
    float: left;
    width:25%;
    box-sizing: border-box;
    padding-top: 25%;
    position: relative;
}
.uk-upload-item-main{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
}
.uk-upload-match-parent{
    width: 100%;
    height: 100%;
}
.uk-upload-item-remove {
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -webkit-transform: translate(40%, -40%);
    transform: translate(30%, -30%);
    background: rgba(0, 0, 0, .3);
    z-index: 2;
    font-size: 20px;
    cursor: pointer;
    font-family: monospace,serif;
}
.uk-upload-item-remove:hover {
    background: rgba(0, 0, 0, .4);
}
