.uk-upload-list{
    width: 100%;
}
.uk-upload-clearfix::after{
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.uk-upload-item{
    float: left;
    width:25%;
    box-sizing: border-box;
    padding-top: 25%;
    position: relative;
}
.uk-upload-fill-parent{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
}
.uk-upload-match-parent{
    position: relative;
    width: 100%;
    height: 100%;
}
.uk-upload-max-parent{
    max-width: 100%;
    max-height: 100%;
}
.uk-upload-item-inner{
    box-sizing: border-box;
    padding: 20px;
}
.uk-upload-image
{
    border: solid 1px #ddd;
    box-sizing: border-box;
}
.uk-upload-mask{
    background: rgba(0, 0, 0, .3)
}
.uk-upload-progress{
    color: #fff;
    font-weight: bold;
    font-family: 'microsoft yahei';
}
.uk-upload-name{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#666;
}
.uk-upload-center{
    position: absolute;
    top:50%;
    left:50%;
    display: inline-block;
    transform: translate(-50%,-50%)
}

.uk-upload-item-remove {
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -webkit-transform: translate(40%, -40%);
    transform: translate(30%, -30%);
    background: rgba(0, 0, 0, .3);
    z-index: 2;
    font-size: 20px;
    cursor: pointer;
    font-family: monospace,serif;
    &:hover{
        background: rgba(0, 0, 0, .4);
    }
}

.uk-upload-add-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: -webkit-pictograph,-webkit-body,monospace,sans-serif,serif;
    color: #ccc;
}
.uk-upload-add-btn {
    cursor: pointer;
    border: #ccc 1px dashed;
    box-sizing: border-box;
}

.uk-upload-error .iconfont0{
    color:red;
    font-size: 20px;
}
.uk-upload-retry{
    display: none;
    cursor: pointer;
    color: #fff;
}
.uk-upload-retry .iconfont0{
    font-size: 30px;
}
.uk-upload-error-mask:hover .uk-upload-retry{
    display: inline-block;
}
.uk-upload-error-mask:hover .uk-upload-error{
    display: none;
}